<h1>Your Cart</h1>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>

  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>

<% if @cart.empty? %>
    <p>Your Cart is empty</p>
<% end %>

<% total = 0 %>

<table class="cart">
    <tr>
        <td class="legend"></td>
        <td class="legend">Name</td>
        <td class="legend">Price</td>
        <td class="legend">Qty</td>
        <td class="legend">Total</td>
        
    </tr>
    
<% @cart.each do | id, quantity | %>
    <% item = Item.find_by_id(id) %>
    <tr>
        <td>
            <div class="image">
                <%= link_to (image_tag item.image, :style => "height:40px"), item %>
            </div>
        </td>
        <td class="name"><%= link_to item.name, item %></td>
        <td class="price"><%= number_to_currency(item.price) %></td>
        <td class="quantity"><%= quantity %><br /></td>
        <td class="price"><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
    </tr>
    <% total += quantity * item.price %>
<% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="price"><%= number_to_currency(total, :unit => "Euros ") %></div>
        </td>
    </tr>
</table>

 <form action="/items">

Pick Up:<br>
<form>
    <input id="datepicker" />
</form>

<br>

Total days:<br>
<input type="text" days="totaldays" id="dias">
<br>

<input type="text" size="3" id="dias" value="1" onChange="calcular_rent(this.value,quantity,totaltext);">

<script>
  
     function calcular_rent(dias,quantity,totaltext) {
         subtotal = dias * 20 * quantity;
         totaltext.value = subtotal;
      }
 </script>




<input type="submit">
</form>
    
<p>
    <%= link_to 'Continue renting', :controller => :items %>
    
     <%= link_to 'Make a Booking', :controller => :rents %>
</p>