<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rent.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rent.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @rent.category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @rent.image %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @rent.deposit %>
</p>

<p>
  <strong>Start:</strong>
  <input type="text" class="calendar" />
</p>

<p>
  <strong>Finish:</strong>
    <input type="text" class="calendar" />
</p>

<p>
  <strong>Total Days:</strong>
  <%= @rent.totald %>
</p>

<p>
  <strong>Daily Price:</strong>
  €50 per day
</p>

<p>
  <strong>Total Price:</strong>
  <%= @rent.total %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
